.aside {
  min-height: 100vh;
  width: 400px;
  border: 1px solid #ededed;
  padding-top: 100px;
  display: flex;
}

.wrapper {
  width: 100%;
}

.sidebarLink {
  display: block;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.acvtiveLink {
  background-color: #ededed;
}
