.communityHero {
  position: relative;
  margin-bottom: 70px;
}

.avatarHolder {
  position: absolute;
  width: 150px;
  height: 150px;
  transform: translate(30px, -50%);
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ededed;
}

.communityName {
  margin-top: 100px;
}

.coverSceleton {
  width: 100%;
  height: 300px;
  background-color: #ededed;
}
