.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #f8f8f8;
}

.wrapper p {
  margin: 0 0;
}

.title {
  color: darkblue;
}
