.message {
  width: 250px;
  border: 1px solid grey;
  padding: 2px;
  margin-bottom: 2px;
}

.message small {
  display: block;
}

.message span {
  display: none;
  margin-left: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.message:hover {
  span {
    display: block;
  }
}
