.messageItem {
  width: 200px;
  border: 1px solid grey;
  padding: 2px;
  margin-bottom: 2px;
}

.messageReply {
  display: block;
}

.messageContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.replyBtn {
  display: none;
  margin-left: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.messageContent:hover .replyBtn {
  display: block;
}
